.signup {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 200px 100px 150px;
   
}
.blue-box {
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 3px solid white;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: 50 100 50 100;
    padding: 50 100 50 100;
}
.sign-left, .sign-right {
   
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin: auto;
    padding: auto;
}

.butt2 {
    background-color: #3882f6;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    border-radius: 8px;
    width: 120px;
    height: 35px;
  
    
}
.bold-text, .thin-text {
    color: white;
    font-family: Roboto, sans-serif;
}

.bold-text {
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 700;
}
.thin-text {
    padding-bottom: 30px;
    padding-top: 0;
    margin-top: 0;
    font-size: 18px;
    font-weight: 300;
}